
.gridNavInicio
{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    align-items: center;
    background-color: black;
    min-width: 90%;
}

.listaaaa
{
    list-style: none;
    text-align: center;
    
    
}

.listaaaa a
{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
}

.listaaaa a:hover
{
    background-color: rgb(80, 80, 129);
}